.hero-section {
    z-index: 1;
    @apply relative
        flex
        h-screen
        items-start
        pt-[100px]
        sm:items-center
        sm:pt-0
        sm:pb-10;

    &:before {
        content: '';
        @apply pointer-events-none
            absolute
            top-0
            left-0
            hidden
            h-[150%]
            w-full
            from-indigo-900
            dark:flex
            dark:opacity-50;
        z-index: 1;
    }

    // .hero-section__title
    &__title {
        @apply m-0
            mb-10
            h-auto
            text-4xl
            leading-snug
            sm:text-4xl
            md:text-9xl;
    }

    .container {
        z-index: 10;
    }

    .threeFiberObject {
        width: 1000px;
        height: 1000px;
        transform: scale(2);
        right: 0;
    }

    & + section {
        z-index: 10;
    }
}
