.nav {
    @apply fixed top-0 left-0 z-50 w-full dark:text-white;

    // .nav__container
    &__container {
        @apply container mx-auto flex flex-nowrap items-stretch;
    }

    // .nav__logo
    &__logo {
        @apply py-2;
        img {
            object-fit: contain;
            object-position: left;
        }
    }

    // .nav__menu
    &__menu {
    }

    // .nav__toggle-dark-mode
    &__toggle-dark-mode {
        @apply relative
            cursor-pointer
            appearance-none
            overflow-hidden
            border-none
            bg-transparent
            p-4
            leading-none;

        .slider {
            @apply absolute
                top-0
                left-0
                h-full
                duration-300
                ease-out;
            .sun,
            .moon {
                font-size: 1em;
                @apply flex
                    h-full
                    w-full
                    items-center
                    justify-center;
            }
        }

        // .nav__toggle-dark-mode--active
        &--active {
            @apply text-indigo-500;
            .slider {
                @apply -translate-y-full;
            }
        }

        // .nav__toggle-dark-mode--not-active
        &--not-active {
            @apply text-orange-400;
        }
    }
}

.nav-menu {
    list-style-type: none;
    @apply my-0 ml-auto mr-0 flex items-stretch;

    .nav-menu__item {
        a {
            @apply relative
                flex
                h-full
                items-center
                px-8
                hover:bg-neutral-400
                hover:bg-opacity-10
                dark:hover:bg-opacity-0;
            &:before {
                content: '';
                @apply absolute
                    top-full
                    left-0
                    block
                    h-1
                    w-full
                    origin-left
                    scale-x-0
                    bg-gradient-to-r
                    duration-300
                    ease-out
                    dark:from-indigo-500
                    dark:via-purple-500
                    dark:to-pink-500;
            }

            &:hover {
                &:before {
                    @apply scale-x-100;
                }
            }
        }
    }
}
