.nav {
    @apply fixed top-0 left-0 z-50 w-full  dark:text-white;

    // .nav__container
    &__container {
        @apply mx-auto
            flex
            h-nav
            flex-nowrap
            items-stretch
            px-2;
    }

    // .nav__logo
    &__logo {
        @apply flex py-2;
    }

    // .nav__dd-toggle
    &__dd-toggle {
        @apply ml-auto
            bg-transparent
            text-base
            font-medium
            uppercase
            text-inherit;
    }

    // .nav__menu
    &__menu {
        @apply text-base;
    }

    // .nav__toggle-dark-mode
    &__toggle-dark-mode {
        @apply relative
            cursor-pointer
            appearance-none
            overflow-hidden
            border-none
            bg-transparent
            p-4
            leading-none;

        .slider {
            @apply absolute
                top-0
                left-0
                h-full
                duration-300
                ease-out;
            .sun,
            .moon {
                font-size: 1em;
                @apply flex
                    h-full
                    w-full
                    items-center
                    justify-center;
            }
        }

        // .nav__toggle-dark-mode--active
        &--active {
            @apply text-indigo-500;
            .slider {
                @apply -translate-y-full;
            }
        }

        // .nav__toggle-dark-mode--not-active
        &--not-active {
            @apply text-orange-400;
        }
    }
}

.nav-full-page {
    @apply fixed
        inset-0
        z-[40]
        flex
        w-full
        items-start
        justify-center
        bg-neutral-200
        dark:bg-neutral-800;

    // .nav-full-page__menu
    &__menu {
        @apply flex
            h-screen
            w-full
            items-center
            justify-start
            overflow-y-auto
            overflow-x-hidden
            p-10
            pt-nav
        md:w-2/3;
    }

    // .nav-full-page__socials
    &__socials {
        @apply relative
            h-screen
            w-full
            p-10
            pt-nav
            text-white
            md:w-1/3;
    }

    // .nav-full-page__cta
    &__cta {
        @apply w-full;
    }
}

.nav-menu {
    @apply my-0
        flex
        w-full
        list-none
        flex-col
        items-start
        justify-start
        pl-0;

    // .nav-menu__item
    &__item {
        @apply relative
            w-full
            cursor-pointer
            text-5xl
            font-semibold
            leading-relaxed;

        .title {
            @apply block
                uppercase
                duration-300
                ease-out;
        }

        .count-container {
            @apply absolute
                bottom-2
                right-0
                h-[2rem]
                w-[2rem]
                overflow-hidden;

            .count {
                @apply absolute
                top-0
                left-0
                w-full
                text-center
                text-base
                font-normal
                duration-300
                ease-out;
            }
        }

        // .nav-menu__item__line
        &__line {
            @apply relative
                h-[2px]
                w-full
                bg-neutral-400
                dark:bg-neutral-600;
            &:before {
                content: '';
                @apply absolute
                    inset-0
                    h-full
                    w-full
                    origin-left
                    scale-x-0
                    bg-neutral-700
                    duration-300
                    ease-out
                    dark:bg-neutral-100;
            }
        }

        &:hover {
            .title {
                @apply translate-x-10;
            }
            .count {
                @apply translate-y-[-2rem];
            }
            .nav-menu__item__line:before {
                @apply scale-x-100;
            }
        }
    }
}

[data-mode='dark'] .nav-menu .count {
    text-shadow: 0 2em 0 #fff;
}
.nav-menu .count {
    text-shadow: 0 2em 0 #000;
}

.nav-socials {
    @apply my-0
        flex
        list-none
        flex-col
        items-start
        justify-start
        pl-0;

    // .nav-socials__item
    &__item {
        @apply relative
            w-full
            text-2xl
            font-light
            uppercase
            leading-loose;

        .count {
            @apply absolute
                top-0
                right-full
                text-base
                font-thin;
        }
    }
}
