.nav {
    @apply fixed top-0 left-0 z-50 w-full  dark:text-white;

    // .nav__container
    &__container {
        @apply mx-auto
            flex
            h-nav
            flex-nowrap
            items-stretch
            px-2;
    }

    // .nav__logo
    &__logo {
        @apply flex py-2;
    }

    // .nav__dd-toggle
    &__dd-toggle {
        @apply ml-auto
            bg-transparent
            text-base
            uppercase
            text-inherit;
    }

    // .nav__menu
    &__menu {
        @apply text-base;
    }

    // .nav__toggle-dark-mode
    &__toggle-dark-mode {
        @apply relative
            cursor-pointer
            appearance-none
            overflow-hidden
            border-none
            bg-transparent
            p-4
            leading-none;

        .slider {
            @apply absolute
                top-0
                left-0
                h-full
                duration-300
                ease-out;
            .sun,
            .moon {
                font-size: 1em;
                @apply flex
                    h-full
                    w-full
                    items-center
                    justify-center;
            }
        }

        // .nav__toggle-dark-mode--active
        &--active {
            @apply text-indigo-500;
            .slider {
                @apply -translate-y-full;
            }
        }

        // .nav__toggle-dark-mode--not-active
        &--not-active {
            @apply text-orange-400;
        }
    }
}

.nav-full-page {
    @apply fixed
        inset-0
        z-[40]
        flex
        w-full
        items-start
        justify-center
        bg-neutral-200
        dark:bg-neutral-800;

    // .nav-full-page__menu
    &__menu {
        @apply flex
            h-screen
            w-full
            items-center
            justify-start
            overflow-y-auto
            overflow-x-hidden
            p-10
            pt-nav
        md:w-2/3;
    }

    // .nav-full-page__socials
    &__socials {
        @apply relative
            h-screen
            w-full
            p-10
            pt-nav
            text-white
            md:w-1/3;
    }

    // .nav-full-page__cta
    &__cta {
        @apply w-full;
    }
}

.nav-menu {
    @apply my-0
        flex
        list-none
        flex-col
        items-start
        justify-start
        pl-0;

    // .nav-menu__item
    &__item {
        @apply relative
            w-full
            text-7xl
            font-light
            leading-relaxed;

        .count {
            @apply absolute
                top-0
                right-full
                text-base
                font-thin;
        }
    }
}

.nav-socials {
    @apply my-0
        flex
        list-none
        flex-col
        items-start
        justify-start
        pl-0;

    // .nav-socials__item
    &__item {
        @apply relative
            w-full
            text-2xl
            font-light
            uppercase
            leading-loose;

        .count {
            @apply absolute
                top-0
                right-full
                text-base
                font-thin;
        }
    }
}
